In [36]:
#pip install SQLAlchemy
#pip install psycopg2-binary

In [1]:
import sqlalchemy as db # para trabajar con la base de datos con sql
import os #para acceder a variables del environment
import pandas as pd 
import numpy as np
import datetime as dt

from dotenv import load_dotenv
load_dotenv()
from sqlalchemy import create_engine

In [2]:
#cargar credenciales para conectarse a la base de datos
db_string = os.environ['DATABASE_URL']
db = create_engine(db_string)

In [3]:
#cargar tablas monitoreo 6 y metadatos del punto
df_registros = pd.read_sql_query('SELECT * FROM kobo_data.medicion_lluvia_registros',con=db)
df_metadata = pd.read_sql_query('SELECT * FROM kobo_data.medicion_lluvia',con=db)
df_codigo  = pd.read_sql_query('SELECT * FROM kobo_data.codigo_punto',con=db)
#print(df_registros)
#print(df_metadata)

In [73]:
#print(df_registros)
#print(df_metadata)

          id tx_nombre_monitor  nm_formato_no       tx_codigo  \
0  109073089             Erika              1  06M004V001P001
1  109087879      María Isabel              1         Prueba2
2  116261871      Maria Molina              6              E1
3  126805689           Maria I              1   06M01V001P001

                             tx_contenedor tx_observaciones fl_soporte_fisico  \
0                                  coquita                               None
1                                  Botella           Prueba              None
2  Contenedor de plastico de 50cm de ancho                               None
3                                    tarro                               None

                            inicio                              fin  \
0 2021-08-11 21:45:37.748000+00:00 2021-10-06 22:53:54.156000+00:00
1 2021-08-12 03:08:55.430000+00:00 2021-08-12 03:10:49.937000+00:00
2 2021-09-27 02:05:42.006000+00:00 2021-09-27 02:07:16.511000+00:00
3 2021-11-26 16:21:36.584000+00:00 2021-11-26 16:26:27.490000+00:00

      submission_time                                 respuesta_original
0 2021-08-11 21:48:04  {'_id': 109073089, 'formhub/uuid': '1ea9be0456...
1 2021-08-12 03:11:01  {'_id': 109087879, 'formhub/uuid': '1ea9be0456...
2 2021-09-27 14:50:23  {'_id': 116261871, 'formhub/uuid': '1ea9be0456...
3 2021-11-26 16:27:15  {'_id': 126805689, 'formhub/uuid': '1ea9be0456...

In [4]:
df= pd.merge(df_registros,df_metadata,left_on="id_formulario",right_on="id",how="left")
df= pd.merge(df,df_codigo,on="tx_codigo",how="left")
print(df.shape)
#print(df)
#print(df['nm_precipitacion'])

(8, 32)
0     2
1     3
2     5
3    10
4    50
5     0
6     2
7     2
Name: nm_precipitacion, dtype: int64

In [6]:
#Crear variables de interes a partir de fecha
df['fecha']=pd.to_datetime(df['dt_fecha_hora'])
df['anio']= df['fecha'].dt.year
df['dt_mes']= df['fecha'].dt.month
df['juliano']=df['fecha'].dt.strftime("%j")

#Crear tabla con registros diarios agrupados
df_registro_diario_lluvia = df.groupby(['tx_codigo','tx_vereda','ct_asociacion','anio','dt_mes','fecha'],dropna=False)['nm_precipitacion'].sum().reset_index()
#print(df_registro_diario_lluvia)

In [7]:
#Cargar tabla de parámetros para cáculo de indicador
iap_parametros = pd.read_sql_query('SELECT * FROM kobo_data.historico_precipitacion',con=db)
#print(iap_parametros)

In [8]:
#unir tabla registros diarios agrupados con parametros historicos
registro_diario_lluvia = pd.merge(df_registro_diario_lluvia , iap_parametros[['dt_mes',"nm_p10_historico",'nm_p90_historico']], on="dt_mes", how='left')

#renombrar para exportar
registro_diario_lluvia = registro_diario_lluvia.rename(columns={'tx_codigo':'codigo','tx_vereda':'nombre_vereda','ct_asociacion':'asociacion','nm_precipitacion':'precipitacion','dt_mes':'mes','nm_p10_historico':'p10','nm_p90_historico':'p90'})
print(registro_diario_lluvia)

           codigo nombre_vereda asociacion  anio  mes      fecha  \
0  06M004V001P001           NaN        NaN  2021    8 2021-08-10
1  06M004V001P001           NaN        NaN  2021    8 2021-08-11
2   06M01V001P001    San isidro      amusi  2021   10 2021-10-07
3   06M01V001P001    San isidro      amusi  2021   11 2021-11-04
4              E1           NaN        NaN  2021    9 2021-09-26
5         Prueba2           NaN        NaN  2021    8 2021-08-11
6         Prueba2           NaN        NaN  2021    8 2021-08-12

   precipitacion     p10     p90
0              3   9.868  31.720
1              2   9.868  31.720
2              2  16.545  36.086
3              2  13.360  32.960
4             50  10.276  36.387
5              5   9.868  31.720
6             10   9.868  31.720

In [106]:
#Exportar a db
#registro_diario_lluvia.to_sql('kobo_data.registro_diario_lluvia', con=db)

In [9]:
#reagrupar por mes para calcular indicador
df_registro_mes_lluvia = registro_diario_lluvia.groupby(['codigo','nombre_vereda','asociacion','anio','mes'],dropna=False)['precipitacion'].sum().reset_index()

#agregar valores historicos
df_mes_parametros = pd.merge(df_registro_mes_lluvia,iap_parametros,left_on="mes",right_on='dt_mes', how='left')

#Calcular indicador de anomalia para valores mayores y menores al historico de precipitacion
df_mes_parametros['iap_p'] = df_mes_parametros['nm_fe_p']*(df_mes_parametros['precipitacion']-df_mes_parametros['nm_mediana_precipitacion_historico'])/(df_mes_parametros['nm_promedio_p90_historico']-df_mes_parametros['nm_mediana_precipitacion_historico'])
df_mes_parametros['iap_n'] = df_mes_parametros['nm_fe_n']*(df_mes_parametros['precipitacion']-df_mes_parametros['nm_mediana_precipitacion_historico'])/(df_mes_parametros['nm_promedio_p10_historico']-df_mes_parametros['nm_mediana_precipitacion_historico'])

print(df_mes_parametros)

           codigo nombre_vereda asociacion  anio  mes  precipitacion  dt_mes  \
0  06M004V001P001           NaN        NaN  2021    8              5       8
1   06M01V001P001    San isidro      amusi  2021   10              2      10
2   06M01V001P001    San isidro      amusi  2021   11              2      11
3              E1           NaN        NaN  2021    9             50       9
4         Prueba2           NaN        NaN  2021    8             15       8

   nm_mediana_precipitacion_historico  nm_p10_historico  nm_p90_historico  \
0                              24.880             9.868            31.720
1                              24.955            16.545            36.086
2                              22.545            13.360            32.960
3                              23.180            10.276            36.387
4                              24.880             9.868            31.720

   nm_promedio_p10_historico  nm_promedio_p90_historico  nm_fe_p  nm_fe_n  \
0                   8.790000                  37.105000        3       -3
1                  15.060000                  45.140000        3       -3
2                  11.723333                  34.466667        3       -3
3                   8.463333                  41.773333        3       -3
4                   8.790000                  37.105000        3       -3

      iap_p     iap_n
0 -4.878528 -3.706650
1 -3.411692 -6.959576
2 -5.169999 -5.695518
3  4.327357  5.467271
4 -2.424540 -1.842138

In [10]:
#Seleccionar el calculo correspondiente segun la logica de relacion con precipitacion historica
df_mes_parametros['iap'] = df_mes_parametros.iap_p
mask = df_mes_parametros.precipitacion < df_mes_parametros.nm_mediana_precipitacion_historico

df_mes_parametros.loc[mask,'iap'] = df_mes_parametros.loc[mask,'iap_n']

#definir puntos de corte segun van Rooy (1965)
puntos_corte=[-np.inf,-3,-2,-1,-0.5,0.49999999,0.99999999,1.99999999,2.99999999,np.inf] #verificar si dan los limites cerrados y abiertos
rangos=["Extremadamente seco","Muy seco","Moderadamente seco","Un poco seco","Aproximadamente normal","Un poco húmedo","Moderadamente húmedo","Muy húmedo","Extremadamente húmedo"]
df_mes_parametros['iap_label'] = pd.cut(df_mes_parametros['iap'], puntos_corte , labels=rangos)

#print(df_mes_parametros)

           codigo nombre_vereda asociacion  anio  mes  precipitacion  dt_mes  \
0  06M004V001P001           NaN        NaN  2021    8              5       8
1   06M01V001P001    San isidro      amusi  2021   10              2      10
2   06M01V001P001    San isidro      amusi  2021   11              2      11
3              E1           NaN        NaN  2021    9             50       9
4         Prueba2           NaN        NaN  2021    8             15       8

   nm_mediana_precipitacion_historico  nm_p10_historico  nm_p90_historico  \
0                              24.880             9.868            31.720
1                              24.955            16.545            36.086
2                              22.545            13.360            32.960
3                              23.180            10.276            36.387
4                              24.880             9.868            31.720

   nm_promedio_p10_historico  nm_promedio_p90_historico  nm_fe_p  nm_fe_n  \
0                   8.790000                  37.105000        3       -3
1                  15.060000                  45.140000        3       -3
2                  11.723333                  34.466667        3       -3
3                   8.463333                  41.773333        3       -3
4                   8.790000                  37.105000        3       -3

      iap_p     iap_n       iap              iap_label
0 -4.878528 -3.706650 -3.706650    Extremadamente seco
1 -3.411692 -6.959576 -6.959576    Extremadamente seco
2 -5.169999 -5.695518 -5.695518    Extremadamente seco
3  4.327357  5.467271  4.327357  Extremadamente húmedo
4 -2.424540 -1.842138 -1.842138     Moderadamente seco

In [11]:
#Seleccionar columnas para tabla a exportar
indice_anomalia_lluvias = df_mes_parametros[['asociacion','anio','mes','iap','iap_label']] #tabla a exportar

#print(indice_anomalia_lluvias)

In [127]:
#Exportar a db
indice_anomalia_lluvias.to_sql('kobo_data.indice_anomalia_lluvias', con=db)

OperationalError: (psycopg2.OperationalError) server closed the connection unexpectedly
	This probably means the server terminated abnormally
	before or while processing the request.

[SQL: select relname from pg_class c join pg_namespace n on n.oid=c.relnamespace where pg_catalog.pg_table_is_visible(c.oid) and relname=%(name)s]
[parameters: {'name': 'kobo_data.indice_anomalia_lluvias'}]
(Background on this error at: https://sqlalche.me/e/14/e3q8)